.home{
  .user{
    display:flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 1px solid #ccc;
    img {
      width: 150px;
      height:150px;
      border-radius: 50%;
      margin-right: 40px;
    }
    &info{
     font-size: 32px;
     margin-bottom: 10px;
    }
    .access{
      color:  #aaaaff;
    }
  }

  .login-info{
    p {
      line-height: 20px;
      font-size:14px;
      color: #999999;
      span{
        color:#666666;
        margin-left:60px;
      }
    }
  }
  .num{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .el-card{
      width:32%;
    }
  }

  .graph{
    display:flex;
     justify-content: space-between;
     .el-card{
       width:48%;
     }
  }
}
